* {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.main-header {
	text-align: center;
	font-family: "Garamond", serif;
	font-size: 28px;
}

body {
	width: 100px;
	height: 100px;
	position: relative;
}

p {
	
}
.primary {
	text-align: center;
	font-family: "Georgia", serif;
	font-size: 16px;
	padding: 10px 50px;
}