* {
	
}

.main-header {
	color: Black;
	text-align: left;
	font-family: "Garamond", serif;
	font-size: 30px;
	background: -webkit-linear-gradient(top left, #E3FEFD, #E3FEF1);
	height: 300px;
	width: 100%;
	overflow: hidden;
	display: block;
	top: 0px;
	left: 0px;
	padding: 100px 100px 0px 30px;
	box-sizing: border-box;
	position: relative;
	
}

body {
	/*width: 300px;
	height: 100px;
	position: relative;*/
	/*color: #DFD001;*/
	margin: 0px;
}

p {
	
}
.primary {
	text-align: left;
	font-family: "Georgia", serif;
	font-size: 20px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 120px;
	padding-right: 120px;
	position: relative;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	/*margin: 60px auto;*/
	/*padding: 10px 50px;*/
}
